<div id="dbFieldsNotFilled" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - to create DB schema or review the schema SQL, the following fields must be filled: Driver, Entity files namespace, DB name, User and Password.
</div>
<div id="requiredMissing" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - all required fields (marked with <strong>*</strong> ) must be filled with non-blank values.
</div>
<div id="stringNotCreated" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - an error occurred during the entity string creation.
</div>
<div id="folderNotCreated" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - could not create or access the namespace directory structure in DEC/saved directory. Please check your permissions.
</div>
<div id="fileNotSaved" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - entity file was not saved correctly.
</div>
<div id="dbAccessIncorrect" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - database access credentials are incorrect, or database doesn't exist.
</div>
<div id="dbError" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - an error occurred during database command execution.
</div>
<div id="NoEntityFiles" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - there are no entity files saved for the specified namespace, there is a typo in filename/classname (mismatch filename-classname).
</div>
<div id="SqlStringNotCreated" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - an error occurred while creating the schema string.
</div>
<div id="NoEntityFileSaved" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>No entity file selected</strong> - to load an entity, you must first fill the form fields for your entity and click "Save as File". Once done, select the entity you want to edit from the select menu and click 'Edit Entity' button.
</div>
<div id="JsonNotLoaded" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - could not load data from JSON representation of the requested entity file.
</div>
<div id="ajaxError" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - an error occurred during ajax request execution. Please try again.
</div>
<div id="defaultError" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - an error occurred during program execution. Please try again.
</div>
<div id="dbSchemaCreated" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Success</strong> - DB schema has been created.
</div>
<div id="fileSaved" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Success</strong> - entity file has been saved.
</div>
<div id="formPopulated" class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Success</strong> - the form has been filled with entity data.
</div>
<div id="duplicatePropertyNames" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Attempt failed</strong> - duplicate property names are not allowed
</div>