<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="dec">
            <directory>./DECtest</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>